<div class="flex justify-center pt-24 pb-12 px-2 sm:px-0">
  <h1 class="text-4xl font-bold text-center text-blue-500">Bem-vindo ao Sistema de Gestão de Clientes</h1>
</div>

<div class="flex justify-center">
  <%= link_to people_path do %>
    <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md">
      Ver Pessoas
    </button>
  <% end %>
  &nbsp;&nbsp;
  <%= link_to clients_path do %>
    <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md">
      Ver Clientes
    </button>
  <% end %>
</div>
