<div class="flex justify-center pt-24 pb-12 px-2 sm:px-0">
  <h1 class="text-4xl font-bold text-center text-blue-500">Bem-vindo ao Sistema de Gestão de Clientes</h1>
</div>

<div class="flex justify-center">
  <nav class="py-4 px-8 bg-blue-500 rounded-md shadow-md">
    <%= link_to "Ver Pessoas", people_path, class: "text-white font-semibold hover:underline" %>
  </nav>
</div>
